<nav class="ui menu top fixed inverted">
    <div class="ui container">
        <div class="header item">
          <i class="large coffee icon"></i><p>Latisha's Blog Site</p>
        </div>
        <div class="right menu">
        <a class="item" href="/blogs">
          Home
        </a>
        <a class="item" href="/blogs/new">
          New Post
        </a>
        </div>
    </div>
</nav>
    