body {
    padding-top: 75px;
}

p {
    line-height: 2em;
}

main {
    padding-top: 50px;
    img {
        width: 300px;
    }
}

i.icon.coffee {
    font-size: 1.5em;
}

#new-form-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    form {
        width: 900px;
        align-self: center;
    }
    h1 {
        align-self: center;
    }
}

#index-container {
    h2 {
        text-align: center;
    }
    margin: 20px;
}

#blog-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    h3 {
        width: 200px;
    }
}

#right-segment {
    margin-left: 20px;
}

#edit-delete-container {
    display: flex;
    flex-direction: row;
}